

.container{
    display:flex;
    flex-wrap: wrap;
}
.order_form{
    padding: 0px 100px;
}
.order_form input,textarea{
   display:flex;
   flex-direction: column;
   padding: 6px 10px;
   width:450px;
   margin: 10px 0px;
   border: 1px solid #DDDEE2;
   border-radius: 5px;
}
.order_form textarea{
    padding: 12px 10px;
    margin: 10px 0px;
}
#btn{
    padding: 15px;
    background-color:#ED8324;
    color: #fff;
}
.title-sub{
    padding: 30px 0px;
    color: #ED8324;
}