
.title-two{
    color: #061A3A;
    font-size: 50px;
}

.TourTrip{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    
}
.icons{
    position: absolute;
    bottom: 140px;
    left: 140px;
    font-size: 30px;
    color: red;
    background-color:white;
    padding:15px 22px;
    border-radius: 100px;
    box-shadow: 0 15px 25px 0 rgb(0 0 0 / 8%);
    
}
